---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Layout from '../layouts/Layout.astro';
import { SITE_DATA, SITE_DESCRIPTION } from '../consts';
import Explorer from '../components/Explorer';

const response = await fetch(SITE_DATA)
const data = await response.json()
---

<Layout>
	<Header />
	<main class="max-w-screen-2xl mx-auto px-6 py-6">
    <p class="text-center max-w-screen-md mx-auto">{SITE_DESCRIPTION}</p>
    <div class="mt-6">
      <Explorer data={data} client:load />
    </div>
	</main>
	<Footer />
</Layout>
