---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Explorer from '../components/Explorer';
import Layout from '../layouts/Layout.astro';

import { CARD_DESCRIPTION, CARD_IMAGE, CARD_TITLE, SITE_DATA, SITE_DESCRIPTION, CARD_SLUG } from '../consts';

const response = await fetch(SITE_DATA || '')
const data = await response.json()

const fields = {
  title: CARD_TITLE || '',
  description: CARD_DESCRIPTION || '',
  image: CARD_IMAGE,
  cardSlug: CARD_SLUG || ''
}
---

<Layout>
	<Header />
	<main class="max-w-screen-2xl mx-auto px-6 py-6">
    <p class="text-center max-w-screen-md mx-auto">{SITE_DESCRIPTION}</p>
    <div class="mt-6">
      <Explorer fields={fields} data={data} client:load />
    </div>
	</main>
	<Footer />
</Layout>
