---
const today = new Date();
---

<footer class="border-t py-4">
	<div class="max-w-screen-2xl mx-auto px-6">
		<p class="text-center">Powered by <a href="https://datasketch.co" class="underline" target="_blank" rel="noopener">datasketch</a></p>
	</div>
</footer>
