---
import { SITE_TITLE } from '../consts';
---

<header class="max-w-screen-2xl mx-auto px-6 py-4 border-b">
  <div class="flex items-center justify-between">
    <h2 class="font-bold text-xl">
      {SITE_TITLE}
    </h2>
    <nav>
      <a href="/">Home</a>
    </nav>
  </div>
</header>
